# databse url -local
DATABASE_URL="postgresql://postgres:password@localhost:5432/querymate"

# better auth 
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='http://localhost:3000'

# better auth - google 
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# better auth - github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# public url
PUBLIC_URL='http://localhost:3000'

# log leval 
LOG_LEVEL='info'

# llm api key
LLM_API_KEY=''

# telgrame bot [for bug & feature ] report 
TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_ID=''