# databse url 
DATABASE_URL='postgresql://postgres:song@localhost:5432/pg'

# better auth 
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL=http://localhost:3000

# public url
PUBLIC_URL=http://localhost:3000

# log leval 
LOG_LEVEL='info'

# llm api key
GROQ_AI_MODEL='openai/gpt-oss-20b'
GROQ_API_KEY=''

# telgrame bot [for bug & feature ] report 
TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_ID=''