# databse url 
DATABASE_URL='postgresql://postgres:postgres@localhost:5432/postgres'

# better auth 
BETTER_AUTH_SECRET="supersecretkey"
BETTER_AUTH_URL=http://localhost:3000

# public url
PUBLIC_URL=http://localhost:3000